@use './../mixins';
@use './../variables';



.mainCard{
    background-color: variables.$veryDarkBlue;
    padding: 4vh 0rem;
    .mainCardContainers{
        width: 90%;
        max-width: 144rem;
        margin: 0 auto;
        height: auto;
        min-height: 72vh;
        display: grid;
        grid-template-columns:repeat(4 ,1fr);
        gap: 8rem;
        a{
            text-decoration: none;
            .card{
                border-radius: .5rem; 
                background-color: variables.$darkBlue;
                cursor: pointer;
                &:hover{
                    box-shadow: 0rem 0rem .4rem .4rem  variables.$veryLightGray;
                }
                .img{
                    height: 18rem;
                    overflow: hidden;
                    border-top-left-radius: .5rem;
                    border-top-right-radius: .5rem;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    img{
                        border-top-left-radius: .5rem;
                        border-top-right-radius: .5rem;
                    
        
                    }
                }
                .cardText{
                    padding: 3rem 2rem;
             
                    .cardName{
                        @include mixins.setTextPara(variables.$nunito, 2rem, variables.$white);
                    }
                    .cardDetails{
                        margin-top: 1.5rem;
                        p{
                            @include mixins.setTextPara(variables.$nunito, 1.4rem, variables.$white);
                            font-weight: 600;
                            margin-top: .5rem;
                            span{
                                font-weight: 300;
                                 @include mixins.setTextPara(variables.$nunito, 1.4rem, variables.$white);
                            }
                        }
                    }
                }
            }
        }
      
       
    }
}

@media screen and (max-width: 376px) {

    .mainCard{
        background-color: variables.$veryDarkBlue;
        padding: 4vh 0rem;
        .mainCardContainers{
            // max-width: 330px;
            grid-template-columns:repeat(1 ,minmax(200px, 80%));
            justify-content: center;
        }
    }
}