@use './../mixins';
@use './../variables';

.mainDetailsPage{
    background-color: variables.$veryDarkBlue;
    height: 92vh;
    .backButtonMenu{
        height: 14vh;
        width: 90%;
        max-width: 144rem;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .backButton{
            width: 9rem;
            padding: .6rem 0;
            border-radius: .3rem;
            border: none;
            background-color: variables.$darkBlue;
            box-shadow: 0rem 0rem .3rem .3rem variables.$roundColor;
            @include mixins.setTextPara(variables.$nunito, 1rem, variables.$white);
            cursor: pointer;
            &:hover{
                box-shadow: 0rem 0rem .3rem .3rem variables.$veryLightGray;
            }
            span{
                margin-right: .5rem;
               
            }
        }
    }

    .mainContent{
        display: flex;
        width: 90%;
        max-width: 144rem;
        margin: 0 auto;
        justify-content: space-between;
        .bigFlag{
                width: 45%;
                height: 40rem;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                // overflow: hidden;
            
        }
        .detailsOfCountry{
            display: flex;
            flex-direction: column;
            width: 50%;
            justify-content: center;
            h2{
                @include mixins.setTextPara(variables.$nunito, 3rem, variables.$white);
                text-transform: capitalize;
                margin-bottom: 3vh;
            }
            .details{
                display: flex;
                justify-content: space-between;
                margin-bottom: 3vh;

                .detailsLeft, .detailsRight{
                    width: 50%;
                    ul{
                        
                        list-style-type: none;
                        li{

                            @include mixins.setTextPara(variables.$nunito, 1.2rem, variables.$white);
                            font-weight: 600;
                            margin-top: 1rem;
                            span{
                                font-weight: 300;
                                @include mixins.setTextPara(variables.$nunito, 1.2rem, variables.$white);
                            }
                        }
                        
                    }
                }
            }
            .borderCountry{
                font-weight: 600;
                display: flex;
                span{
                    width: 12rem;
                    font-weight: 600;
                    @include mixins.setTextPara(variables.$nunito, 1.2rem, variables.$white);
                }
                .linksBorderCountry{
                    display: flex;
                    height: auto ;
                    flex-wrap: wrap;
                    gap: .5rem;

                    a{
                        height: auto;
                        text-decoration: none;
                        padding: .5rem 1rem;
                        box-shadow: 0rem 0rem .3rem .3rem variables.$roundColor;
                        background-color: variables.$darkBlue;
                        cursor: pointer;
                        @include mixins.setTextPara(variables.$nunito, 1.2rem, variables.$white);
                        font-weight: 300;
                        &:active{
                            text-decoration: none;
                        }
                     
                    }
                }
            }
        }
    }
}


@media screen and (max-width: 376px) {

    .mainDetailsPage{
        height: auto;
        .mainContent{
            flex-direction: column;
            .bigFlag{
                width: 100% !important;
                height: 25rem !important;
            }
            .detailsOfCountry{
                height: auto;
                width: 100% !important;
               
                .details{
                    flex-direction: column;
                    width: 100% !important;
                }
            }
            .borderCountry{
                flex-direction: column;
                height: auto !important;
                padding: 3vh 0 !important;

                .linksBorderCountry{
                    display: flex !important;
                    flex-wrap: wrap;

                    a{
                        padding: .2rem .6rem !important;
                        box-shadow: 0rem 0rem .2rem .2rem rgb(177, 169, 169) !important;
                        margin-top: 1vh !important;
                        @include mixins.setTextPara(variables.$nunito, 1rem,variables.$white !important);
                        font-weight: 300 !important;
                        
                        &:hover {
                            box-shadow: 0rem 0rem 0.3rem 0.3rem rgb(177, 169, 169);
                        }
                    }
                }
                }

        }
    }
  
}
