@use './../mixins';
@use './../variables';

.mainFilters{
    background-color: variables.$veryDarkBlue;

    .mainContent{
        margin: 0 auto;
        width: 90%;
        display: flex;
        justify-content: space-between;
        height: auto;
        align-items: center;
        padding: 3rem 0;
        .searchInput{
            background-color: variables.$darkBlue;
            width: 30%;
            padding: 1rem 2rem;
            border-radius: .2rem;

            &:hover{

                box-shadow: 0 0 .3rem .3rem variables.$white;
            }
            span{
                i{
                    color: variables.$white;
                }
            }
            input{
                @include mixins.setTextPara(variables.$nunito, 1rem, variables.$white);
                background-color: transparent;
                outline: none;
                border: none;
                margin-left: 1rem;
                width: 85%;
                font-weight: 500;
                
                &::placeholder{
                    @include mixins.setTextPara(variables.$nunito, 1rem, variables.$white);

                }
            }
        }
        .selectSearch{
            @include mixins.setTextPara(variables.$nunito, 1rem, variables.$white);
            width: 20%;
            position: relative;
            &:hover{

                box-shadow: 0 0 .3rem .3rem variables.$white;
            }
            p{
                background-color: variables.$darkBlue;
                padding: 1rem 2rem;
                border-radius: .2rem;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
            }
            .filterByRegion{
                position: absolute;
                border-radius: .2rem;
                list-style-type: none;
                background-color: variables.$darkBlue;
                margin-top: .2rem;
                width: 100%;

                li{
                    padding: 1rem 2rem;
                    cursor: pointer;
                    width: 100%;

                    &:hover{
                        background-color: variables.$veryDarkBlue;
                    }
                    
                }
            }
        }
    }
}