@use './../mixins';
@use './../variables';

.headerMain{
    background-color: variables.$darkBlue;
    color: variables.$white;
    height: 8vh;
    // box-shadow: 0rem 0rem .3rem .3rem variables.$roundColor;
    // box-shadow: 0 4px 2px -2px gray;
    
    .mainDivHeader{
        display: flex;
        justify-content: space-between;
        width: 90%;
        max-width: 144rem;
        margin: 0 auto;
        align-items: center;
        height: 100%;
        h3{
            font-family: 800;
            font-size: 2rem;
            cursor: pointer;
        }

        .rightSubmenu{
            cursor: pointer;
            p{
                span{
                    font-weight: 600;
                    font-size: 1.2rem;
               }
              
            }
        }

    }
}

@media screen and (max-width: 376px) {
    .headerMain{
        
        .mainDivHeader{
       
            h3{
                font-size: 1.4rem;
            }
        }
    }
}