@use './../mixins.scss';
@use './../variables.scss';

.createMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url('./../../images/cta.png');
    padding: 3rem 0;

    .contentCreate{
        width: 80%;
        margin: 3rem auto;
        text-align: center;
        h2{
            @include mixins.setTextPara(variables.$roboto, 3rem, #FFFFFF);
            font-weight: 100;
        }
        p{
            @include mixins.setTextPara(variables.$roboto, 2rem, #FFFFFF);
            font-weight: 100;
            margin: 2rem 0;


        }
        button{
            background-color: rgba(232, 76, 61, 1);
            border: none;
            outline: none;
            border-radius: .5rem;
            padding: 1rem 2rem;
            text-transform: uppercase;
            @include mixins.setTextPara(variables.$roboto, 1.2rem, #FFFFFF);
            font-weight: 100;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 768px) {
    .createMain{
        .contentCreate{
            h2{
                @include mixins.setTextPara(variables.$roboto, 2.5rem, #FFFFFF);
            }
            p{
                @include mixins.setTextPara(variables.$roboto, 1.8rem, #FFFFFF);
                font-weight: 100;
                margin: 1rem 0;
    
            }
            button{
                padding: .8rem 1.6rem;
                @include mixins.setTextPara(variables.$roboto, 1rem, #FFFFFF);
            }
        }
    }
}