@use "./../mixins.scss";
@use "./../variables.scss";
.mainHeader {
 
  .nav {
    h1 {
      cursor: pointer;
    }
    nav {
      ul {
        li {
          a {
            cursor: pointer;
            font-size: 1.4rem;
            text-decoration: none;
            color: #333b46;
          }
        }
      }
    }
  }
}

.img {
  width: 100%;
  height: 100vh;
  background-image: url("./../images/above.png"), url("./../images/under.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -10rem;
  display: flex;
  justify-content: center;
  text-align: center;

  .text {
    text-transform: uppercase;
    margin-top: 22rem;
    position: relative;
    h1 {
      @include mixins.setTextPara(variables.$roboto, 3.5rem, #333b46);
      font-weight: 300;
    }
    p {
      @include mixins.setTextPara(variables.$sans, 1.6rem, #81868e);
      font-weight: 100;
    }

    .crollDown {
      position: absolute;
      bottom: 5.6rem;
      width: 100%;

      &:hover {
        transform: scaleX(1.1) scaleY(1.1);
        cursor: pointer;
      }

      p {
        text-transform: uppercase;
        @include mixins.setTextPara(variables.$sans, 1.2rem, #e84c3d);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .mainHeader {
  
    .nav {
      display: flex;
      justify-content: start;
      nav {
        position: absolute;
        top: 10vh;
        right: 10vh;
        text-align: center;
        
        ul {
          display: flex;
          flex-direction: column;
          li{
            &:hover{
              background-color: #81868e;
            }
          }
        }
      }
    }

    .img {
      background-size: cover;
      background-position-y: -10rem;

      .text {
        h1 {
          @include mixins.setTextPara(variables.$roboto, 2.5rem, #ffffff);
          color: #ffffff;
          font-weight: 300;
        }
        p {
          @include mixins.setTextPara(variables.$sans, 1.5rem, #ffffff);
          font-weight: 100;
        }
      }
    }
  }
}
