@mixin hover() {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(232, 76, 61, .7);
  transform: translateX(5%) translateY(5%);
  display: none;
}

.categories {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
  .content {
    display: flex;
    justify-content: space-between;
    p,
    span {
      font-family: "Roboto", sans-serif;
      font-size: 1.6rem;
      color: #383737;
    }
  }
  hr {
    margin: 2rem 0;
    width: 4.2rem;
    height: 0.5vh;
    background-color: rgb(137, 137, 137);
  }
}

.gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 22.7rem 22.7rem 22.7rem 22.7rem 22.7rem;
  background-color: #2196f3;

  &_item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .item1, .item2,.item3, .item4,.item5_child1, .item5_child2, .item6, .item7, .item8, .item9,.item10,.item11, .item12{
    position: relative;

    &:hover .hoverGallery{
      display: block;
      cursor: pointer;
    }
  }

  .hoverGallery{
    @include hover()
  }

  .item1 {
    
    background-image: url("./../../images/featured1.png");
  }
  .item2 {
    
    grid-row-start: span 2;
    background-image: url("./../../images/p-img3.png");
  }
  .item3 {
   
    background-image: url("./../../images/p-img5.png");
  }
  .item4 {
   
    grid-row-start: span 2;
    background-image: url("./../../images/p-img2.png");
  }
  .item5 {
    
    display: grid;
    grid-template-columns: auto auto;

    &_child1 {
      background-image: url("./../../images/p-img6.png");
    }
    &_child2 {
      background-image: url("./../../images/p-img7.png");
    }
  }

  .item6 {
    
    background-image: url("./../../images/p-img4.png");
  }

  .item7 {
    
    background-image: url("./../../images/p-img8.png");
  }

  .item8 {
    
    background-image: url("./../../images/p-img9.png");
    background-size: cover;
  }

  .item9 {
    
    grid-row-start: span 2;
    background-image: url("./../../images/p-img11.png");
    background-size: cover;
  }

  .item10 {
   
    grid-row-start: span 2;
    background-image: url("./../../images/p-img12.png");
    background-size: cover;
  }
  .item11 {
   
    background-image: url("./../../images/p-img10.png");
    background-size: cover;
  }
}
