@use './../mixins.scss';
@use './../variables.scss';

.pricingMain{
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
    padding-bottom: 5vh;
    
    .cardPricing{
        border:.1rem solid #81868E;
        border-radius: .5rem;
        width: 30%;
        &:hover{
            box-shadow: 0rem 0rem .5rem .2rem #81868E;
        }
        h3{
            @include mixins.setTextPara(variables.$lato, 2rem, #81868E);
            text-transform: uppercase;
            height: 10vh;
            line-height: 10vh;
            text-align: center;

        }
        ul{
            list-style-type: none;
            li{
                display: flex;
                flex-direction: column;
                justify-content: center;
                @include mixins.setTextPara(variables.$lato, 1.3rem, #81868E);
                height: 5vh;
                text-align: center;
                border-top:.1rem solid #81868E;
            }
        }
        .buttonPricing{
            text-align: center;
            border-top:.1rem solid #81868E;
            button{
                @include mixins.setTextPara(variables.$sans, 1rem, #81868E);
                background-color: transparent;
                border:.1rem solid #81868E;
                border-radius: .5rem;
                padding: .5rem 3rem;
                cursor: pointer;
                margin: 2vh 0;
                text-transform: uppercase;

                &:hover{
                    background-color: rgba(232, 76, 61, 1);
                    cursor: pointer;
                    color: rgb(255, 255, 255);

                }
            }
        }
    }
}