@use './components/header';
@use './components/about';
@use './leyout/navigation';
@use './components/redBlock';
@use './components/circles';
@use './components/featured';
@use './components/service';
@use './components/create';
@use './components/portfolio';
@use './components/subscribe';
@use './components/crew';
@use './components/testimonials';
@use './components/blogs';
@use './components/pricing';
@use './components/getInTach';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Leckerli+One&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}


