@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@700&display=swap");
.primaryHeader {
  background-color: rgb(68, 50, 44);
}
.primaryHeader .row .mainContent {
  width: 80%;
  margin: 0 auto;
}
.primaryHeader .row .mainContent .workTime {
  text-transform: uppercase;
  margin: 0 1.5em;
  line-height: 100%;
  display: flex;
  align-items: center;
  font-family: "Fira Sans", sans-serif;
  font-size: 1.2rem;
  color: #e1a03a;
}
.primaryHeader .row .mainContent .social {
  font-size: 1.2rem;
  color: #e1a03a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.85em 1.4em;
}
.primaryHeader .row .mainContent .social .mainSocial {
  width: 100%;
  display: flex;
  justify-content: space-between;
  line-height: 4rem;
}
.primaryHeader .row .mainContent .social .mainSocial .aweosmeIcon {
  line-height: 4rem;
  width: 2.4rem;
  height: 2.4rem;
  background-color: #30211B;
  align-items: center;
  border-radius: 50%;
  margin-left: 0.5rem;
}
.primaryHeader .row .mainContent .social .mainSocial .aweosmeIcon:hover {
  background-color: #e1a03a;
  cursor: pointer;
}
.primaryHeader .row .mainContent .social .mainSocial .aweosmeIcon:hover i {
  color: #30211B;
}
.primaryHeader .row .mainContent .social .mainSocial .aweosmeIcon i {
  font-size: 0.9rem;
}

.middleHeader {
  background-color: #BF431F;
  height: 8.25rem;
}
.middleHeader .row .mainContainMidlleHeader {
  width: 80%;
  margin: 0 auto;
}
.middleHeader .row .mainContainMidlleHeader .birraLogo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.middleHeader .row .mainContainMidlleHeader nav {
  width: 67rem;
}
.middleHeader .row .mainContainMidlleHeader nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: none;
}
.middleHeader .row .mainContainMidlleHeader nav ul li {
  width: 100%;
  height: 100%;
  height: 8.25rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 500;
  color: #F1E8CE;
  padding: 0 1.5rem;
}
.middleHeader .row .mainContainMidlleHeader nav ul li:hover {
  background-color: #793319;
  cursor: pointer;
  color: #e1a03a;
}

.bottomHeader {
  height: 7rem;
  background-color: #E3CFAB;
}
.bottomHeader .mainContainBottomHeader {
  width: 80%;
  margin: 0 auto;
  height: 7rem;
}
.bottomHeader .mainContainBottomHeader .shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bottomHeader .mainContainBottomHeader .shop h2 {
  text-transform: uppercase;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 2.4rem;
  color: #d57f2c;
}
.bottomHeader .mainContainBottomHeader .localNavigation {
  text-align: end;
  text-transform: uppercase;
  font-family: "Fira Sans", sans-serif;
  font-size: 1.5rem;
  color: #44322C;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.bottomHeader .mainContainBottomHeader .localNavigation:hover {
  color: #BF431F;
  cursor: pointer;
}

.bigImageSection {
  background-color: #F4E8CE;
}
.bigImageSection .mainContentBigImageSection {
  height: 80vh;
  background-image: url("./../../assets/jumbo.jpg");
  background-size: cover;
  margin: 8.75rem 0;
  width: 80%;
}
.bigImageSection .mainContentBigImageSection .contentBigImageSection {
  width: 85%;
  align-self: center;
}
.bigImageSection .mainContentBigImageSection .contentBigImageSection h2 {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 6.4rem;
  color: #ffffff;
  font-weight: 700;
}
.bigImageSection .mainContentBigImageSection .contentBigImageSection p {
  font-family: "Fira Sans", sans-serif;
  font-size: 2.2rem;
  color: #eee2c8;
  text-align: center;
  margin-top: 1.1rem;
  padding-bottom: 0.2rem;
}
.bigImageSection .mainContentBigImageSection .contentBigImageSection .buttonDivBigImage {
  text-align: center;
  width: 30%;
  margin: 0 auto;
}
.bigImageSection .mainContentBigImageSection .contentBigImageSection .buttonDivBigImage .buttonBigImage {
  width: 100%;
  margin: 4.7rem auto 1.6rem auto;
  text-transform: uppercase;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.7rem;
  color: #f4e8ce;
  padding: 1.35rem 6.15rem;
  background-color: #BF431F;
  border: none;
  outline: none;
  transition: all 0.4s ease;
}
.bigImageSection .mainContentBigImageSection .contentBigImageSection .buttonDivBigImage .buttonBigImage:hover {
  background-color: #793319;
}

.gallerySection {
  background-color: #F4E8CE;
}
.gallerySection .mainGallerySection {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2.5%;
}
.gallerySection .mainGallerySection .categories {
  background-color: #E3CFAB;
  height: 36rem;
}
.gallerySection .mainGallerySection .categories .mainCategories {
  margin: 5vh 0;
}
.gallerySection .mainGallerySection .categories .mainCategories h3 {
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.8rem;
  color: #bf431f;
  text-transform: uppercase;
  margin-top: 2.4rem;
  margin-bottom: 2.6rem;
}
.gallerySection .mainGallerySection .categories .mainCategories ul {
  list-style-type: none;
}
.gallerySection .mainGallerySection .categories .mainCategories ul li {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.4rem;
  color: #44322C;
  margin-bottom: 1rem;
  font-weight: 800;
}
.gallerySection .mainGallerySection .categories .mainCategories ul li:hover {
  color: #e1a03a;
  cursor: pointer;
}
.gallerySection .mainGallerySection .categories .mainCategories ul li span i {
  color: #E1A03A;
}
.gallerySection .mainGallerySection .gallery .navGallery .navGalleryLeft .list, .gallerySection .mainGallerySection .gallery .navGallery .navGalleryLeft .grid {
  margin-left: 0.5rem;
}
.gallerySection .mainGallerySection .gallery .navGallery .navGalleryLeft .list i, .gallerySection .mainGallerySection .gallery .navGallery .navGalleryLeft .grid i {
  color: #BF431F;
  font-size: 2.4rem;
}
.gallerySection .mainGallerySection .gallery .navGallery .navGalleryLeft div {
  font-family: "Fira Sans", sans-serif;
  font-size: 1.3rem;
  color: #44322C;
  font-weight: 800;
  margin-bottom: 1.3rem;
  margin-left: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}