@use "./../mixins";
@use "./../variables";

.gallerySection {
  background-color: #f4e8ce;
  .mainGallerySection {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2.5%;
    .categories {
      background-color: #e3cfab;
      height: 36rem;
      .mainCategories {
        margin: 5vh 0;
        h3 {
          @include mixins.setTextPara(variables.$alegria, 1.8rem, #bf431f);
          text-transform: uppercase;
          margin-top: 2.4rem;
          margin-bottom: 2.6rem;
        }
        ul {
          list-style-type: none;
          li {
            @include mixins.setTextPara(variables.$fira, 1.4rem, #44322c);
            margin-bottom: 1rem;
            font-weight: 800;

            &:hover {
              color: #e1a03a;
              cursor: pointer;
            }
            span {
              i {
                color: #e1a03a;
              }
            }
          }
        }
      }
    }

    .gallery {
      .navGallery {
        .navGalleryLeft {
          .list,
          .grid {
            margin-left: 0.5rem;
            i {
              color: #bf431f;
              font-size: 2.4rem;
            }
          }
          div {
            @include mixins.setTextPara(variables.$fira, 1.3rem, #44322c);
            font-weight: 800;
            margin-bottom: 1.3rem;
            margin-left: 1rem;
          }
        }
        .navGalleryRight {
          select {
            @include mixins.setTextPara(variables.$fira, 1.4rem, #44322c);
            border: 0.1rem solid #e5d2af;
            background-color: transparent;
            padding: 1.3rem;
            border-radius: 0.3rem;
            option {
              @include mixins.setTextPara(variables.$fira, 1.4rem, #44322c);
              background-color: #f4e8ce;
            }
          }
        }
      }

      .galleryGallery{
          
          img{
              width: 33%;
              background-color: #E3CFAB;
          }
      }
    }
  }
}
