@use './../mixins';
@use './../variables';

.gallerySection{
    background-color: #F4E8CE;
    .mainGallerySection{
        width: 80%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 3fr;
        gap: 2.5%;
        .categories{
            background-color: #E3CFAB;
            height: 36rem;
            .mainCategories{
                margin: 5vh 0;
                h3{
                    @include mixins.setTextPara(variables.$alegria, 1.8rem, #bf431f);
                    text-transform: uppercase;
                    margin-top: 2.4rem;
                    margin-bottom: 2.6rem;
                }
                ul{
                    list-style-type: none;
                   li{
                    @include mixins.setTextPara(variables.$fira, 1.4rem, #44322C);
                    margin-bottom: 1rem;
                    font-weight: 800;

                    &:hover{
                        color: #e1a03a;
                        cursor: pointer;
                    }
                       span{
                        
                           i{
                                   color: #E1A03A;
                                   
                                   
                           }
                       }
                   }
                }
            }
        }



        .gallery{

        .navGallery{
            .navGalleryLeft{
                
                .list, .grid{
                    margin-left: .5rem;
                    i{
                        color: #BF431F;
                        font-size: 2.4rem;
                    }
                }
                div{
                    @include mixins.setTextPara(variables.$fira, 1.3rem, #44322C);
                    font-weight: 800;
                    margin-bottom: 1.3rem;
                    margin-left: 1rem;
                    
                }
                
            }
            .navGalleryRight{
                select{
                   
                    @include mixins.setTextPara(variables.$fira, 1.4rem, #44322C);
                    border: .1rem solid #E5D2AF;
                    background-color: transparent;
                    padding: 1.3rem;
                    border-radius: .3rem;
                    option{
                        @include mixins.setTextPara(variables.$fira, 1.4rem, #44322C);
                        background-color: #F4E8CE;
                    }
                }
            }
        }
        }
    }

}

