@use "./../mixins";
@use "./../variables";

.gallerySection {
  background-color: #f4e8ce;
  z-index: -1;
  .mainGallerySection {
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 2.5%;
    .categories {
      background-color: #e3cfab;
      height: 36rem;
      .mainCategories {
        margin: 5vh 0;
        h3 {
          @include mixins.setTextPara(variables.$alegria, 1.8rem, #bf431f);
          text-transform: uppercase;
          margin-top: 2.4rem;
          margin-bottom: 2.6rem;
        }
        ul {
          list-style-type: none;
          li {
            @include mixins.setTextPara(variables.$fira, 1.4rem, #44322c);
            margin-bottom: 1rem;
            font-weight: 800;

            &:hover {
              color: #e1a03a;
              cursor: pointer;
            }
            span {
              i {
                color: #e1a03a;
              }
            }
          }
        }
      }
    }

    .gallery {
      padding-bottom: 8.5rem;
      .navGallery {
        .navGalleryLeft {
          .list,
          .grid {
            margin-left: 0.5rem;
            max-height: 2.4rem;
            i {
              color: #bf431f;
              font-size: 2.4rem;
              cursor: pointer;
              &:hover {
                color: #793319;
              }
            }
          }
          div {
            max-height: 2.4rem;
            @include mixins.setTextPara(variables.$fira, 1.4rem, #44322c);
            font-weight: 800;
            margin-bottom: 1.3rem;
            margin-left: 1rem;
            line-height: 2.4rem;
          }
        }
        .navGalleryRight {
          select {
            @include mixins.setTextPara(variables.$fira, 1.4rem, #44322c);
            border: 0.1rem solid #e5d2af;
            background-color: transparent;
            padding: 1.3rem 2.6rem;
            border-radius: 0.3rem;
            margin-bottom: 5.6rem;
            &:hover {
              border: 0.1rem solid #cf6f2c;
            }
            &:focus {
              outline: none;
            }
            option {
              @include mixins.setTextPara(variables.$fira, 1.4rem, #44322c);
              background-color: #f4e8ce;
            }
          }
        }
      }

      .galleryGallery {
        gap: 2rem;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: repeat(3, 48rem);
        .galleryItem {
          .imgAndPrice {
            background-color: #e3cfab;
            &:hover {
              background-color: transparent;
              cursor: pointer;
            }
            .img {
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
              //  background-image: url('./../../assets/beer.png');
              height: 38rem;
              transition: all 0.3s ease;
              //  position: relative;
              display: flex;
              justify-content: end;
              flex-direction: column;
              text-align: center;

              &:hover i {
                transition: all 0.5s ease;
                opacity: 1;
                transform: translateY(-20rem);
              }

              i {
                font-size: 3rem;
                color: #ffffff;
                opacity: 0;
              }
              &:hover {
                background-color: transparent;
                cursor: pointer;
              }
            }
            .galleryItemPriceFirst {
              text-align: center;
              @include mixins.setTextPara(variables.$fira, 1.3rem, #bf431f);
              font-weight: 800;
              padding: 1rem 0;
            }
          }

          .galleryCardSecondColumn{
            
            .galleryItemPriceSecond{
              
              text-align: center;
              @include mixins.setTextPara(variables.$fira, 1.3rem, #bf431f);
              font-weight: 800;
              padding: 1rem 0;
            }
          }

          &Content {
            height: 6rem;
            background-color: #d57f2c;
            text-align: center;
            line-height: 6rem;
            @include mixins.setTextPara(variables.$alegria, 1.7rem, #f4e8ce);
            text-transform: uppercase;
            font-weight: 700;
            transition: all 0.3s ease;
            width: 100%;
            outline: none;
            border: none;

            &:hover {
              background-color: #cc6626;
              cursor: pointer;
            }
          }
        }

        // .galleryListGallery{
        //   display: flex;
        //   height: 15rem;
         
        // }
      }
      .listGallery {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 36.5rem);
        .galleryItem{
          display: flex;
          background-color: #E3CFAB;
          align-items: center;
          justify-content: space-between;
          .imgAndPrice{
            max-height: 36.5rem;
            width: 30%;
            background-color: #E3CFAB;
            margin: 1.4rem 2.1rem 1.4rem 1.4rem;
           
            .img{
              max-height: 32rem;
              background-size: contain;
              
            }
          }

          .galleryCardSecondColumn{
            width: 65%;
           
            .cardName{
              @include mixins.setTextPara(variables.$alegria, 3.4rem, #44322C);
              font-weight: 700;
              margin: 2.7rem 0 1.3rem 0;
              
            }
            p{
              @include mixins.setTextPara(variables.$fira, 1.4rem, #44322c);
              font-weight: 700;
              padding-right: 2.8rem;
              margin-bottom: 1rem;
            }
            .galleryItemPriceSecond{
              text-align: left;
              @include mixins.setTextPara(variables.$fira, 1.4rem, #44322c);
              font-weight: 700;
              margin-bottom: 1rem;
            }
            .galleryItemContent{
              margin-bottom: 8rem;
              display: inline-block;
              min-width: 35%;
              max-width:20rem;
              height: 5rem;
              padding: 1rem .9rem;
              line-height: 100%;

              &:hover{
                background-color: #BF431F;
              }
              
              
            }
          }
        }
      }
      .bottomNavGallery {
        div {
          @include mixins.setTextPara(variables.$alegria, 2.1rem, #bf431f);
          cursor: pointer;
          a {
            @include mixins.setTextPara(variables.$alegria, 2.1rem, #bf431f);
            text-decoration: none;
            padding: 0.735rem 1.26rem;

            &:hover {
              background-color: #bf431f;
              color: #f4e8ce;
            }
          }
          .currentlyClicked {
            background-color: #bf431f;
            color: #f4e8ce;
          }
          i {
            padding: 0.735rem 1.26rem;
            font-size: 1.5rem;

            &:hover {
              color: #793319;
            }
          }
          &:nth-child(3) {
            margin-left: 1.26rem;
          }
        }
      }
    }
  }
}
