
@use "./../mixins";
@use "./../variables";

.bottomHeader {
    background-color: #E3CFAB;
}

    .listGallery {
        background-color: #F4E8CE;
        height: 80vh;
        display: flex;
        align-items: center;
        .galleryItem{
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 80%;
          margin: 0 auto;
          
          .imgAndPrice{
            max-height: 36.5rem;
            width: 30%;
            height: 100%;
            // background-color: #E3CFAB;
            margin: 1.4rem 2.1rem 1.4rem 1.4rem;
           
            .img {
                      background-position: center;
                      background-size: contain;
                      background-repeat: no-repeat;
                      height: 38rem;
                      width: 100%;
                 
                      &:hover {
                        background-color: #ffffff;
                        cursor: pointer;
                      }
                    
         
            }
          }
    
          .galleryCardSecondColumn{
            width: 65%;
           
            .cardName{
              @include mixins.setTextPara(variables.$alegria, 3.4rem, #44322C);
              font-weight: 700;
              margin: 2.7rem 0 1.3rem 0;
              
            }
            p{
              @include mixins.setTextPara(variables.$fira, 1.4rem, #44322c);
              font-weight: 700;
              padding-right: 2.8rem;
              margin-bottom: 1rem;
            }
            .galleryItemPriceSecond{
              text-align: left;
              @include mixins.setTextPara(variables.$fira, 1.8rem, #44322c);
              font-weight: 700;
              margin-bottom: 1rem;
            }
            .galleryItemContent{
              margin-bottom: 8rem;
              display: inline-block;
              min-width: 35%;
              max-width:20rem;
              height: 5rem;
              padding: 1rem .9rem;
              line-height: 100%;
    
              &:hover{
                background-color: #BF431F;
              }
              
              
            }
          }
          .buttonAndInputQuantity{
              width: 70%;
            #quantityOfBeerInputDiv{
                display: inline-block;
                position: relative;
                width: 18rem;
                margin-right: .5rem;
                height: 4.5rem !important;
                button{
                    position: absolute;
                    border: none;
                    width: 2rem;
                    height: 2.2rem;
                    background-color: #d57f2c;    
                    &:first-child{
                        bottom: 0;
                        right: 0;
                    }       
                }
                .plus{
                    top: 0;
                    right: 0;
                }

                .quantityOfBeerInput{
                    height: 4.5rem;
                    text-align: center;
                    @include mixins.setTextPara(variables.$fira, 1.4rem, #44322c);
                    font-weight: 600;
                    border: .1rem solid #E5D2AF;
                    border-radius: .3rem;
                    width: 100%;
                    background-color: transparent;
                    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button{
                        -webkit-appearance: none;
                
                    }
                    &:hover{
                        transition: all .3s ease;
                        border: .1rem solid #d57f2c;
                        outline: none;
                    }
                    &:focus{
                        border: .1rem solid #D3792F;
                        outline: none;
                    }

                }
            }
              .galleryItemContent {
                height: 4.5rem;
                background-color: #d57f2c;
                text-align: center;
                @include mixins.setTextPara(variables.$alegria, 1.7rem, #f4e8ce);
                text-transform: uppercase;
                font-weight: 700;
                transition: all 0.3s ease;
                outline: none;
                border: none;
            
                &:hover {
                  background-color: #cc6626;
                  cursor: pointer;
                }
              }
          }
        }
      }
