@use './../mixins.scss';
@use './../variables.scss';

.mainCircles{
    width: 100%;
    margin: 0 auto;

    .circles{
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin-top: 4rem;
        position: relative;
        z-index: 100;

        .boxCircle{
            background-image: none;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            .imgBox{
                width: 8.4rem;
                height: 8.4rem;
                background-color: rgba(230, 230, 230, 1);
                border-radius: 50%;
                outline: 1px solid rgba(204, 204, 204, 1);
                outline-offset: .7rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                hr{
                    position: absolute;
                    width: 70%;
                    z-index: -100;
                    background-color: rgba(194, 194, 194, 1);
                    height: .2vh;
                    border: none;
                    
                }
                
                i{
                    z-index: 100;
                    font-size: 3.5rem;
                    color: #E84C3D;

                }
            }
            h3{
                @include mixins.setTextPara(variables.$roboto, 1.6rem, #333B46);
                text-transform: uppercase;
                font-weight: 200;
                margin-top: 3rem;
            }
            p{
                @include mixins.setTextPara(variables.$roboto, 1.4rem, #81868E);
                width: 80%;
                margin-top: 2rem;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .mainCircles{
        .circles{
            flex-direction: column;
            .boxCircle{
                margin-bottom: 5vh;
                .imgBox{
                    width: 4rem;
                    height: 4rem;
                    margin-bottom: 2rem;

                    i{
                        font-size: 2rem;
                    }
                    hr{
                       display: none;
                    }
                }
                h3{
                    margin-top: 1vh;
                }
                p{
                    margin-top: 1vh;
                }
            }

        }
    }

}