@use './../mixins.scss';
@use './../variables.scss';

@mixin fontStyle() {
    @include mixins.setTextPara(variables.$roboto, '', #333B46);
    text-align: center;
    text-transform: uppercase;
}

.crew{
    padding-bottom: 8rem;
    .crewCards{
        display: flex;
        width: 80%;
        margin: 0 auto;
        height: 40vh;
        justify-content: space-between;

        .cardCrewMain{
            display: flex;
            flex-direction: column;
            width: 24%;

            &:hover .cardCrew .content{
                display: flex;
                cursor: pointer;
            }

            .namePosition{
                
                h3{
                    font-size: 1.7rem;  
                    @include fontStyle();     
                    margin:1rem 0;
                }
                p{
                    font-size: 1.2rem;
                    @include fontStyle()     

                }
            }
        }
        .cardCrew{
            height: 35rem;
            display: flex;
            flex-direction: column;
            justify-content: end;
            .content{
                flex-direction: column;
                background-color: rgb(226, 43, 27);
                height: 40%;
                width: 90%;
                margin: 0 auto 1rem auto;
                display: none;

                p{
                    width: 80%;
                    margin: 0 auto;
                    color: #FFFFFF;
                    font-size: 1rem;
                    font-family: 'Roboto', sans-serif;
                    text-align: center;
                    margin-top: .5vh;
                }

                .social{
                    display: flex;
                    justify-content: space-around;
                    width: 30%;
                    margin: .5rem auto .5rem auto;
                    
                    .fb,.linkedin{
                        border: .1rem solid #FFFFFF;
                        width: 3vh;
                        height: 3vh;
                        border-radius: 50%;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                    }
                    i{
                        font-size: 1.5vh;
                        color: rgba(255, 255, 255, 1);
                    }
                }
                
            }
        }
        .cardCrewMain:nth-child(1) .cardCrew{
            background-image: url('./../../images/ibanHasan.png');
            background-size: cover;
            background-position: center;
           
        }
        .cardCrewMain:nth-child(2) .cardCrew{
            background-image: url('./../../images/radRedwan.png'); 
            background-size: cover;
            background-position: center;
           

        }
        .cardCrewMain:nth-child(3) .cardCrew{
            background-image: url('./../../images/bariOwalarMeye.png');
            background-size: cover;
            background-position: center;
            

        }
        .cardCrewMain:nth-child(4) .cardCrew{
            background-image: url('./../../images/tofailAhmed.png');
            background-size: cover;
            background-position: center;
        }
    }
}

@media screen and (max-width: 768px) {
    .crew{
      
        .crewCards{  
            display: grid;
            grid-template-columns: 1fr 1fr;
            height: 60vh;

            .cardCrewMain{
                width: 80%;
                height: 35vh;
                margin: 0 auto;

                .cardCrew{
                    .content {
                        
                        flex-direction: column;
                        justify-content: center;
                        height: 45%;
                        p.crewPara{
                
                            font-size: .8rem !important;
                        }
                        
                    }
                }
              .namePosition{
                  p{
                      padding-bottom: 2vh;
                      font-size: 1rem;
                  }
                  h3{
                      font-size: 1.3rem;
                      margin: .5rem 0;
                  }
              }

              
                
            }
            
        }

    }
}


@media screen and (max-width: 480px) {
    .crew{
        .crewCards{  
            display: flex;
            flex-direction: column;
            height: 150vh;
        }
    }
}
