@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Leckerli+One&display=swap");
.mainHeader .nav h1 {
  cursor: pointer;
}
.mainHeader .nav nav ul li a {
  cursor: pointer;
  font-size: 1.4rem;
  text-decoration: none;
  color: #333b46;
}

.img {
  width: 100%;
  height: 100vh;
  background-image: url("./../images/above.png"), url("./../images/under.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -10rem;
  display: flex;
  justify-content: center;
  text-align: center;
}
.img .text {
  text-transform: uppercase;
  margin-top: 22rem;
  position: relative;
}
.img .text h1 {
  font-family: "Roboto", sans-serif;
  font-size: 3.5rem;
  color: #333b46;
  font-weight: 300;
}
.img .text p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: #81868e;
  font-weight: 100;
}
.img .text .crollDown {
  position: absolute;
  bottom: 5.6rem;
  width: 100%;
}
.img .text .crollDown:hover {
  transform: scaleX(1.1) scaleY(1.1);
  cursor: pointer;
}
.img .text .crollDown p {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: #e84c3d;
}

@media screen and (max-width: 768px) {
  .mainHeader .nav {
    display: flex;
    justify-content: start;
  }
  .mainHeader .nav nav {
    position: absolute;
    top: 10vh;
    right: 10vh;
    text-align: center;
  }
  .mainHeader .nav nav ul {
    display: flex;
    flex-direction: column;
  }
  .mainHeader .nav nav ul li:hover {
    background-color: #81868e;
  }
  .mainHeader .img {
    background-size: cover;
    background-position-y: -10rem;
  }
  .mainHeader .img .text h1 {
    font-family: "Roboto", sans-serif;
    font-size: 2.5rem;
    color: #ffffff;
    color: #ffffff;
    font-weight: 300;
  }
  .mainHeader .img .text p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    color: #ffffff;
    font-weight: 100;
  }
}
@media screen and (max-width: 480px) {
  .mainHeader .nav {
    display: flex;
    flex-direction: column;
  }
  .mainHeader .nav h1 {
    text-align: center;
  }
  .mainHeader .nav nav {
    position: static;
    margin-top: 5vh;
  }
  .mainHeader .nav nav ul {
    width: 100vw;
    display: flex;
    flex-direction: row;
  }
  .mainHeader .nav nav ul li a {
    font-size: 1rem;
  }

  .img {
    background-image: url("./../images/above.png");
  }
  .img .text {
    margin-top: 10vh;
  }
  .img .text p {
    margin: 0.5vh 0 5vh 0;
  }
  .img .text .crollDown {
    position: static;
    margin-top: 35vh;
  }
}
.cards {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cards .card {
  display: flex;
  width: 48%;
  height: 23.8rem;
  border: 0.3rem solid rgba(215, 215, 215, 0.5);
  border-radius: 1rem;
  margin-bottom: 2%;
}
.cards .card:hover {
  cursor: pointer;
  border: 0.3rem solid #e84c3d;
  background-color: #e84c3d;
}
.cards .card:hover div.imgCircle {
  background-color: white;
}
.cards .card:hover i {
  color: #e84c3d !important;
}
.cards .card:hover .contentCards h3, .cards .card:hover .contentCards hr.hrCard, .cards .card:hover .contentCards p {
  color: #FFFFFF;
}
.cards .card:hover .contentCards hr.hrCard {
  background-color: #FFFFFF !important;
}
.cards .card .imgContainer {
  width: 30%;
  height: 100%;
}
.cards .card .imgContainer .imgCircle {
  background-color: #e84c3d;
  height: 10.9rem;
  width: 10.9rem;
  border-radius: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem;
  z-index: 2;
}
.cards .card .imgContainer .imgCircle i {
  font-size: 4rem;
  color: #FFFFFF;
}
.cards .card .contentCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3rem;
}
.cards .card .contentCards h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #81868E;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.cards .card .contentCards hr.hrCard {
  width: 3.7rem;
  height: 0.3vh;
  background-color: #d7d7d7;
  margin-bottom: 2rem;
  border: none;
}
.cards .card .contentCards p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  color: #81868E;
}

@media screen and (max-width: 768px) {
  .cards {
    flex-direction: column;
    align-content: center;
  }
  .cards .card {
    width: 90%;
    height: 15rem;
  }
  .cards .card .imgContainer {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .cards .card .imgContainer .imgCircle {
    height: 8rem;
    width: 8rem;
  }
  .cards .card .imgContainer .imgCircle i {
    font-size: 3rem;
  }
  .cards .card .contentCards h3 {
    font-family: "Roboto", sans-serif;
    font-size: 1.3rem;
    color: #81868E;
    margin-bottom: 1.3rem;
  }
  .cards .card .contentCards p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    color: #81868E;
  }
  .cards .card .contentCards hr.hrCard {
    margin-bottom: 1.3rem;
  }
  .cards .card:last-child {
    margin-bottom: 6vh;
  }
}
@media screen and (max-width: 480px) {
  .card .imgContainer #imgCircle {
    height: 5rem;
    width: 5rem;
    margin-left: 2rem;
  }
  .card .imgContainer #imgCircle i {
    font-size: 2rem;
  }
}
.about {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f3f3f3;
}
.about .content {
  width: 45%;
  margin: 10vh 0;
}
.about .content h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #333b46;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 2vh;
}
.about .content hr {
  width: 5.2rem;
  height: 0.5vh;
  background-color: #898989;
  margin-bottom: 2.5vh;
}
.about .content p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  color: #81868e;
  margin-bottom: 2.5vh;
  color: #81868e;
}
.about .content button {
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
  color: #ffffff;
  text-transform: uppercase;
  padding: 1.6rem 1.8rem 1.5rem 1.8rem;
  border: none;
  background-color: #e84c3d;
  font-weight: 100;
  border-radius: 0.3rem;
  cursor: pointer;
}
.about .img {
  background-image: none;
  width: 45%;
  height: 30vh;
  margin: 10vh 0;
}

.mainWhatWeDo,
.mainCircles,
.mainFeatured,
.serviceSection,
.portfolio,
.meetCrew,
.lattestBlog,
.pricing,
.getInTouch {
  background-color: #f3f3f3;
}
.mainWhatWeDo div.whatWeDo,
.mainCircles div.whatWeDo,
.mainFeatured div.whatWeDo,
.serviceSection div.whatWeDo,
.portfolio div.whatWeDo,
.meetCrew div.whatWeDo,
.lattestBlog div.whatWeDo,
.pricing div.whatWeDo,
.getInTouch div.whatWeDo {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 10vh;
}
.mainWhatWeDo div.whatWeDo h2,
.mainCircles div.whatWeDo h2,
.mainFeatured div.whatWeDo h2,
.serviceSection div.whatWeDo h2,
.portfolio div.whatWeDo h2,
.meetCrew div.whatWeDo h2,
.lattestBlog div.whatWeDo h2,
.pricing div.whatWeDo h2,
.getInTouch div.whatWeDo h2 {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: #333b46;
}
.mainWhatWeDo div.whatWeDo hr,
.mainCircles div.whatWeDo hr,
.mainFeatured div.whatWeDo hr,
.serviceSection div.whatWeDo hr,
.portfolio div.whatWeDo hr,
.meetCrew div.whatWeDo hr,
.lattestBlog div.whatWeDo hr,
.pricing div.whatWeDo hr,
.getInTouch div.whatWeDo hr {
  width: 5.2rem;
  height: 0.5vh;
  background-color: #898989;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}
.mainWhatWeDo div.whatWeDo p,
.mainCircles div.whatWeDo p,
.mainFeatured div.whatWeDo p,
.serviceSection div.whatWeDo p,
.portfolio div.whatWeDo p,
.meetCrew div.whatWeDo p,
.lattestBlog div.whatWeDo p,
.pricing div.whatWeDo p,
.getInTouch div.whatWeDo p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  color: #81868e;
  padding-bottom: 3rem;
}

@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
  }
  .about .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    margin-top: 2rem !important;
  }
  .about .content h2 {
    text-align: center;
  }
  .about .content hr {
    align-self: center;
  }
  .about .content button {
    margin: 0 auto;
    display: inline-block;
  }
  .about .content p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    color: #81868e;
    padding-bottom: 3rem;
  }
  .about .img {
    width: 60%;
    margin-top: 0;
  }
  .about .img img {
    max-width: 100%;
  }

  .mainWhatWeDo div.whatWeDo h2,
.mainCircles div.whatWeDo h2,
.mainFeatured div.whatWeDo h2,
.serviceSection div.whatWeDo h2,
.portfolio div.whatWeDo h2,
.meetCrew div.whatWeDo h2,
.lattestBlog div.whatWeDo h2,
.pricing div.whatWeDo h2,
.getInTouch div.whatWeDo h2 {
    font-size: 1.5rem;
  }
  .mainWhatWeDo div.whatWeDo p,
.mainCircles div.whatWeDo p,
.mainFeatured div.whatWeDo p,
.serviceSection div.whatWeDo p,
.portfolio div.whatWeDo p,
.meetCrew div.whatWeDo p,
.lattestBlog div.whatWeDo p,
.pricing div.whatWeDo p,
.getInTouch div.whatWeDo p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    color: #81868e;
    padding-bottom: 3rem;
  }
}
.mainHeader {
  background-color: #e1e1e1;
  font-weight: 700;
  height: 100vh;
}
.mainHeader .nav {
  display: flex;
  justify-content: space-around;
}
.mainHeader .nav h1 {
  color: #e84c3d;
  font-size: 2.8rem;
  font-family: "Leckerli One", cursive;
  font-weight: 100;
}
.mainHeader .nav nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
}
.mainHeader .nav nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
.mainHeader .nav nav ul li {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #333b46;
  font-weight: 200;
  font-family: "Open Sans", sans-serif;
}

.redBlock {
  display: flex;
  justify-content: center;
  background: url("./../../images/street.png");
  height: 40vh;
  position: relative;
}
.redBlock .coverColor {
  position: absolute;
  background-color: rgba(232, 76, 61, 0.7);
  width: 100%;
  height: 100%;
}
.redBlockMainContainer {
  z-index: 1;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.redBlockMainContainer .cardRedBlock {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.redBlockMainContainer .cardRedBlock .imgNumber {
  margin-bottom: 2rem;
}
.redBlockMainContainer .cardRedBlock .imgNumber i {
  font-size: 4rem;
  color: #FFFFFF;
}
.redBlockMainContainer .cardRedBlock .imgNumber span {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  color: #FFFFFF;
}
.redBlockMainContainer .cardRedBlock h4 {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  font-weight: 100;
}
.redBlockMainContainer .cardRedBlock hr {
  width: 3.7rem;
  height: 0.3vh;
  background-color: #FFFFFF;
  margin-bottom: 2rem;
  border: none;
}

@media screen and (max-width: 768px) {
  .redBlock {
    height: 60vh;
    background-repeat: no-repeat;
  }
  .redBlock .redBlockMainContainer {
    display: flex;
    flex-direction: column;
  }
  .redBlock .redBlockMainContainer .cardRedBlock {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .redBlock .redBlockMainContainer .cardRedBlock .imgNumber {
    margin-bottom: 0.5rem;
  }
  .redBlock .redBlockMainContainer .cardRedBlock .imgNumber i {
    font-size: 2rem;
  }
  .redBlock .redBlockMainContainer .cardRedBlock .imgNumber span {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: #FFFFFF;
  }
  .redBlock .redBlockMainContainer .cardRedBlock h4 {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    color: #FFFFFF;
    margin-bottom: 0.5rem;
  }
  .redBlock .redBlockMainContainer .cardRedBlock hr {
    text-align: center;
    align-self: center;
    align-content: center;
  }
}
.mainCircles {
  width: 100%;
  margin: 0 auto;
}
.mainCircles .circles {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 4rem;
  position: relative;
  z-index: 100;
}
.mainCircles .circles .boxCircle {
  background-image: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.mainCircles .circles .boxCircle .imgBox {
  width: 8.4rem;
  height: 8.4rem;
  background-color: #e6e6e6;
  border-radius: 50%;
  outline: 1px solid #cccccc;
  outline-offset: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainCircles .circles .boxCircle .imgBox hr {
  position: absolute;
  width: 70%;
  z-index: -100;
  background-color: #c2c2c2;
  height: 0.2vh;
  border: none;
}
.mainCircles .circles .boxCircle .imgBox i {
  z-index: 100;
  font-size: 3.5rem;
  color: #E84C3D;
}
.mainCircles .circles .boxCircle h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #333B46;
  text-transform: uppercase;
  font-weight: 200;
  margin-top: 3rem;
}
.mainCircles .circles .boxCircle p {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  color: #81868E;
  width: 80%;
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  .mainCircles .circles {
    flex-direction: column;
  }
  .mainCircles .circles .boxCircle {
    margin-bottom: 5vh;
  }
  .mainCircles .circles .boxCircle .imgBox {
    width: 4rem;
    height: 4rem;
    margin-bottom: 2rem;
  }
  .mainCircles .circles .boxCircle .imgBox i {
    font-size: 2rem;
  }
  .mainCircles .circles .boxCircle .imgBox hr {
    display: none;
  }
  .mainCircles .circles .boxCircle h3 {
    margin-top: 1vh;
  }
  .mainCircles .circles .boxCircle p {
    margin-top: 1vh;
  }
}
.mainFeatured .imageGalery {
  display: flex;
}
.mainFeatured .imageGalery .imgFeatured {
  position: relative;
}
.mainFeatured .imageGalery .imgFeatured .hoverFeatured {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(232, 76, 61, 0.7);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.mainFeatured .imageGalery .imgFeatured .hoverFeatured button {
  text-transform: uppercase;
  width: 30%;
  padding: 1rem 2rem;
  border: 0.2rem solid #ebebeb;
  border-radius: 0.5rem;
  background-color: transparent;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: "";
  color: #ebebeb;
}
.mainFeatured .imageGalery .imgFeatured img {
  width: 100%;
}
.mainFeatured .imageGalery .imgFeatured:hover .hoverFeatured {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .mainFeatured .imageGalery .imgFeatured .hoverFeatured button {
    width: 40%;
    display: flex;
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .mainFeatured .imageGalery {
    flex-direction: column;
  }
  .mainFeatured .imageGalery .imgFeatured .hoverFeatured button {
    width: 40%;
    display: flex;
    justify-content: center;
  }
}
.serviceSection .row {
  display: flex;
}
.serviceSection .row .imgWork img {
  height: 100%;
  max-width: 100%;
}
.serviceSection .row .contentWork {
  background-color: #e84c3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.serviceSection .row .contentWorkMain {
  margin: 0 auto;
  width: 70%;
}
.serviceSection .row .contentWorkMain h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #FFFFFF;
  text-transform: uppercase;
}
.serviceSection .row .contentWorkMain hr {
  margin: 2rem 0;
  width: 4.2rem;
  height: 0.3vh;
  background-color: #ffffff;
  border: none;
}
.serviceSection .row .contentWorkMain p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  color: #FFFFFF;
}
.serviceSection .row:nth-child(even) {
  flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
  .serviceSection .row .contentWorkMain h2 {
    font-family: "Roboto", sans-serif;
    font-size: 1.4rem;
    color: #FFFFFF;
    padding-top: 1vh;
  }
  .serviceSection .row .contentWorkMain hr {
    margin: 0.5rem 0;
  }
  .serviceSection .row .contentWorkMain p {
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    color: #FFFFFF;
    padding-bottom: 1vh;
  }
}
@media screen and (max-width: 768px) {
  .serviceSection #row {
    flex-direction: column;
  }
}
.createMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("./../../images/cta.png");
  padding: 3rem 0;
}
.createMain .contentCreate {
  width: 80%;
  margin: 3rem auto;
  text-align: center;
}
.createMain .contentCreate h2 {
  font-family: "Roboto", sans-serif;
  font-size: 3rem;
  color: #FFFFFF;
  font-weight: 100;
}
.createMain .contentCreate p {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: #FFFFFF;
  font-weight: 100;
  margin: 2rem 0;
}
.createMain .contentCreate button {
  background-color: #e84c3d;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: #FFFFFF;
  font-weight: 100;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .createMain .contentCreate h2 {
    font-family: "Roboto", sans-serif;
    font-size: 2.5rem;
    color: #FFFFFF;
  }
  .createMain .contentCreate p {
    font-family: "Roboto", sans-serif;
    font-size: 1.8rem;
    color: #FFFFFF;
    font-weight: 100;
    margin: 1rem 0;
  }
  .createMain .contentCreate button {
    padding: 0.8rem 1.6rem;
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: #FFFFFF;
  }
}
.categories {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
}
.categories .content {
  display: flex;
  justify-content: space-between;
}
.categories .content p {
  cursor: pointer;
}
.categories .content p,
.categories .content span {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #383737;
}
.categories hr {
  margin: 2rem 0;
  width: 4.2rem;
  height: 0.5vh;
  background-color: #898989;
}

.gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: repeat(5, 22.7rem);
  background-color: #2196f3;
}
.gallery_item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
.gallery .item1, .gallery .item2, .gallery .item3, .gallery .item4, .gallery .item5_child1, .gallery .item5_child2, .gallery .item6, .gallery .item7, .gallery .item8, .gallery .item9, .gallery .item10, .gallery .item11, .gallery .item12 {
  position: relative;
}
.gallery .item1:hover .hoverGallery, .gallery .item2:hover .hoverGallery, .gallery .item3:hover .hoverGallery, .gallery .item4:hover .hoverGallery, .gallery .item5_child1:hover .hoverGallery, .gallery .item5_child2:hover .hoverGallery, .gallery .item6:hover .hoverGallery, .gallery .item7:hover .hoverGallery, .gallery .item8:hover .hoverGallery, .gallery .item9:hover .hoverGallery, .gallery .item10:hover .hoverGallery, .gallery .item11:hover .hoverGallery, .gallery .item12:hover .hoverGallery {
  display: flex;
  cursor: pointer;
}
.gallery .hoverGallery {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(232, 76, 61, 0.7);
  transform: translateX(5%) translateY(5%);
  display: none;
  flex-direction: column;
  justify-content: end;
}
.gallery .hoverGallery h4, .gallery .hoverGallery p, .gallery .hoverGallery hr {
  margin-left: 2rem;
}
.gallery .hoverGallery h4 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}
.gallery .hoverGallery p {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #FFFFFF;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}
.gallery .hoverGallery hr {
  width: 3rem;
  height: 0.3vh;
  background-color: #898989;
  margin-bottom: 2.5vh;
  border: none;
}

.gridA {
  width: 100%;
}
.gridA .grid-item {
  min-width: 20%;
  max-width: 50%;
  width: 33%;
  position: relative;
}
.gridA .grid-item .hoverGallery {
  position: absolute;
  width: 90%;
  height: 90%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(232, 76, 61, 0.7);
  transform: translateX(5%) translateY(5%);
  display: none;
  flex-direction: column;
  justify-content: end;
}
.gridA .grid-item .hoverGallery h4, .gridA .grid-item .hoverGallery p, .gridA .grid-item .hoverGallery hr {
  margin-left: 2rem;
}
.gridA .grid-item .hoverGallery h4 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}
.gridA .grid-item .hoverGallery p {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #FFFFFF;
  font-weight: 100;
  text-transform: uppercase;
  margin-bottom: 1.2rem;
}
.gridA .grid-item .hoverGallery hr {
  width: 3rem;
  height: 0.3vh;
  background-color: #898989;
  margin-bottom: 2.5vh;
  border: none;
}
.gridA .grid-item:hover .hoverGallery {
  display: flex;
  cursor: pointer;
}
.gridA .grid-item img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .categories .content p, .categories .content span {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: #383737;
  }
  .categories hr {
    width: 3rem;
    height: 0.3vh;
    margin: 1rem 0;
    margin-bottom: 3vh;
  }

  .gridA .grid-item .hoverGallery h4 {
    font-size: 1.1rem;
  }
  .gridA .grid-item .hoverGallery p {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 768px) {
  .categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .categories #content {
    width: 80%;
    margin: 0 auto;
  }
  .categories hr {
    margin: 1rem auto 2rem auto;
  }
}
.subscribe {
  position: relative;
  background-image: url("./../../images/subscribeBG.png");
  padding: 2rem auto;
}
.subscribe .hoverSubscribe {
  display: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(232, 76, 61, 0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.subscribe .mainSubscribe {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  width: 70%;
}
.subscribe .mainSubscribe .subscribeContent {
  margin: 5vh 0;
}
.subscribe .mainSubscribe .subscribeContent h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.8rem;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 100;
}
.subscribe .mainSubscribe .subscribeContent hr {
  width: 5.2rem;
  height: 0.2vh;
  background-color: #FFFFFF;
  margin-bottom: 2.5vh;
  margin: 2rem 0;
  border: none;
}
.subscribe .mainSubscribe .subscribeContent p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  color: #FFFFFF;
  width: 70%;
}
.subscribe .mainSubscribe .inputSubscribe {
  margin: 5vh 0;
  width: 70%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-self: center;
}
.subscribe .mainSubscribe .inputSubscribe input {
  background-color: transparent;
  outline: none;
  padding: 1rem 3rem;
  border: none;
  border: 0.1rem solid #FFFFFF;
}
.subscribe .mainSubscribe .inputSubscribe input::placeholder {
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  opacity: 0.5;
}
.subscribe .mainSubscribe .inputSubscribe button {
  background-color: transparent;
  outline: none;
  padding: 1rem 3rem;
  border: none;
  border: 0.1rem solid #FFFFFF;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #FFFFFF;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .subscribe .mainSubscribe {
    flex-direction: column;
  }
  .subscribe .mainSubscribe .subscribeContent {
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .subscribe .mainSubscribe .subscribeContent h2 {
    text-align: center;
  }
  .subscribe .mainSubscribe .subscribeContent p {
    text-align: center;
  }
}
.crew {
  padding-bottom: 8rem;
}
.crew .crewCards {
  display: flex;
  width: 80%;
  margin: 0 auto;
  height: 40vh;
  justify-content: space-between;
}
.crew .crewCards .cardCrewMain {
  display: flex;
  flex-direction: column;
  width: 24%;
}
.crew .crewCards .cardCrewMain:hover .cardCrew .content {
  display: flex;
  cursor: pointer;
}
.crew .crewCards .cardCrewMain .namePosition h3 {
  font-size: 1.7rem;
  font-family: "Roboto", sans-serif;
  font-size: "";
  color: #333B46;
  text-align: center;
  text-transform: uppercase;
  margin: 1rem 0;
}
.crew .crewCards .cardCrewMain .namePosition p {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-size: "";
  color: #333B46;
  text-align: center;
  text-transform: uppercase;
}
.crew .crewCards .cardCrew {
  height: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.crew .crewCards .cardCrew .content {
  background-color: #e22b1b;
  height: 40%;
  width: 90%;
  margin: 0 auto 1rem auto;
  display: none;
}
.crew .crewCards .cardCrew .content p {
  width: 80%;
  margin: 0 auto;
  color: #FFFFFF;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  margin-top: 0.5vh;
}
.crew .crewCards .cardCrew .content .social {
  display: flex;
  justify-content: space-around;
  width: 30%;
  margin: 0.5rem auto 0.5rem auto;
}
.crew .crewCards .cardCrew .content .social .fb, .crew .crewCards .cardCrew .content .social .linkedin {
  border: 0.1rem solid #FFFFFF;
  width: 3vh;
  height: 3vh;
  border-radius: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.crew .crewCards .cardCrew .content .social i {
  font-size: 1.5vh;
  color: white;
}
.crew .crewCards .cardCrewMain:nth-child(1) .cardCrew {
  background-image: url("./../../images/ibanHasan.png");
  background-size: cover;
  background-position: center;
}
.crew .crewCards .cardCrewMain:nth-child(2) .cardCrew {
  background-image: url("./../../images/radRedwan.png");
  background-size: cover;
  background-position: center;
}
.crew .crewCards .cardCrewMain:nth-child(3) .cardCrew {
  background-image: url("./../../images/bariOwalarMeye.png");
  background-size: cover;
  background-position: center;
}
.crew .crewCards .cardCrewMain:nth-child(4) .cardCrew {
  background-image: url("./../../images/tofailAhmed.png");
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .crew .crewCards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 60vh;
  }
  .crew .crewCards .cardCrewMain {
    width: 80%;
    height: 35vh;
    margin: 0 auto;
  }
  .crew .crewCards .cardCrewMain .cardCrew .content {
    flex-direction: column;
    justify-content: center;
    height: 45%;
  }
  .crew .crewCards .cardCrewMain .cardCrew .content p.crewPara {
    font-size: 0.8rem !important;
  }
  .crew .crewCards .cardCrewMain .namePosition p {
    padding-bottom: 2vh;
    font-size: 1rem;
  }
  .crew .crewCards .cardCrewMain .namePosition h3 {
    font-size: 1.3rem;
    margin: 0.5rem 0;
  }
}
.testimonials {
  background-image: url("./../../images/testimonialsBg.png");
}
.testimonials .mainTestimonials {
  margin: 0 auto;
  width: 80%;
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.testimonials .mainTestimonials .headerTestimonials h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 2vh 0;
}
.testimonials .mainTestimonials .headerTestimonials hr {
  width: 5.2rem;
  height: 0.4vh;
  background-color: white;
  margin: 0 auto;
  margin-bottom: 2.5rem;
  border: none;
}
.testimonials .mainTestimonials .headerTestimonials h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 100;
}
.testimonials .mainTestimonials .imgTestimonials {
  margin: 4vh 0;
}
.testimonials .mainTestimonials .contentTestimonials .textTestimonilas {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  color: #FFFFFF;
  font-style: italic;
}
.testimonials .mainTestimonials .contentTestimonials .nameTestimonials {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  color: #E84C3D;
  text-transform: uppercase;
  margin: 4vh 0;
}
.testimonials .mainTestimonials .contentTestimonials .slider .dot {
  cursor: pointer;
  height: 1.2rem;
  width: 1.2rem;
  margin: 0 2px;
  background-color: #e84c3d;
  border: 0.1rem solid #e84c3d;
  background-color: transparent;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.testimonials .mainTestimonials .contentTestimonials .slider .active, .testimonials .mainTestimonials .contentTestimonials .slider .dot:hover {
  background-color: #e84c3d;
}

.lattestBlog {
  padding-bottom: 3vh;
}
.lattestBlog .blogs {
  display: flex;
  height: 40vh;
  margin: 0 auto;
  width: 80%;
}
.lattestBlog .blogs .blog1, .lattestBlog .blogs .blog2 {
  width: 50%;
}
.lattestBlog .blogs .blog1 .content, .lattestBlog .blogs .blog2 .content {
  height: 100%;
  width: 50%;
  float: right;
  background-color: #e84c3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.lattestBlog .blogs .blog1 .content .mainContent, .lattestBlog .blogs .blog2 .content .mainContent {
  width: 90%;
  margin: 0 auto;
}
.lattestBlog .blogs .blog1 .content .mainContent hr, .lattestBlog .blogs .blog2 .content .mainContent hr {
  width: 5.2rem;
  height: 0.3vh;
  background-color: #FFFFFF;
  margin: 2.5rem 0;
  border: none;
}
.lattestBlog .blogs .blog1 .content .mainContent h3, .lattestBlog .blogs .blog2 .content .mainContent h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 100;
}
.lattestBlog .blogs .blog1 .content .mainContent .nameBlog, .lattestBlog .blogs .blog2 .content .mainContent .nameBlog {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  color: #FFFFFF;
}
.lattestBlog .blogs .blog1 .content .mainContent .contentTextBlog, .lattestBlog .blogs .blog2 .content .mainContent .contentTextBlog {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: #FFFFFF;
}
.lattestBlog .blogs .blog1 .content .mainContent .calendar, .lattestBlog .blogs .blog2 .content .mainContent .calendar {
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
  color: #FFFFFF;
  margin: 1.5rem 0;
}
.lattestBlog .blogs .blog1 {
  background-image: url("./../../images/blog2.png");
  background-size: cover;
}
.lattestBlog .blogs .blog2 {
  background-image: url("./../../images/blog1.png");
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .lattestBlog .blogs {
    height: 70vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  .lattestBlog .blogs .blog1, .lattestBlog .blogs .blog2 {
    width: 70%;
    margin-bottom: 1vh;
    height: 48%;
  }
  .lattestBlog .blogs .content .mainContent h3 {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    color: #FFFFFF;
    padding-top: 2vh;
  }
  .lattestBlog .blogs .content .mainContent hr {
    margin: 1rem 0 !important;
  }
}
.pricingMain {
  display: flex;
  margin: 0 auto;
  width: 80%;
  justify-content: space-between;
  padding-bottom: 5vh;
}
.pricingMain .cardPricing {
  border: 0.1rem solid #81868E;
  border-radius: 0.5rem;
  width: 30%;
}
.pricingMain .cardPricing:hover {
  box-shadow: 0rem 0rem 0.5rem 0.2rem #81868E;
}
.pricingMain .cardPricing h3 {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  color: #81868E;
  text-transform: uppercase;
  height: 10vh;
  line-height: 10vh;
  text-align: center;
}
.pricingMain .cardPricing ul {
  list-style-type: none;
}
.pricingMain .cardPricing ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-size: 1.3rem;
  color: #81868E;
  height: 5vh;
  text-align: center;
  border-top: 0.1rem solid #81868E;
}
.pricingMain .cardPricing .buttonPricing {
  text-align: center;
  border-top: 0.1rem solid #81868E;
}
.pricingMain .cardPricing .buttonPricing button {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #81868E;
  background-color: transparent;
  border: 0.1rem solid #81868E;
  border-radius: 0.5rem;
  padding: 0.5rem 3rem;
  cursor: pointer;
  margin: 2vh 0;
  text-transform: uppercase;
}
.pricingMain .cardPricing .buttonPricing button:hover {
  background-color: #e84c3d;
  cursor: pointer;
  color: white;
}

@media screen and (max-width: 768px) {
  .pricingMain {
    flex-direction: column;
  }
  .pricingMain .cardPricing {
    align-self: center;
    margin-bottom: 2vh;
    width: 45%;
  }
}
.getInTouch {
  background-color: #f3f3f3;
  padding-bottom: 12vh;
}

.mainGetInTach {
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.mainGetInTach form {
  width: 45%;
  display: flex;
  flex-direction: column;
}
.mainGetInTach form .input {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.mainGetInTach form .input input {
  height: 4vh;
  width: 49%;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  color: #81868E;
  border: 0.1rem solid #81868E;
}
.mainGetInTach form .input input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  color: #81868E;
  padding-left: 1rem;
}
.mainGetInTach form textarea {
  border: 0.1rem solid #81868E;
  color: #81868E;
}
.mainGetInTach form textarea::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  color: #81868E;
  padding-left: 1rem;
}
.mainGetInTach form button {
  width: 60%;
  padding: 1.2rem 3.6rem;
  background-color: #e84c3d;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  color: #FFFFFF;
  text-transform: uppercase;
  border: none;
  margin-top: 2rem;
  cursor: pointer;
}
.mainGetInTach .contentGetInTach {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainGetInTach .contentGetInTach .adress, .mainGetInTach .contentGetInTach .email, .mainGetInTach .contentGetInTach .phone {
  display: flex;
  margin-bottom: 3rem;
}
.mainGetInTach .contentGetInTach .adress span, .mainGetInTach .contentGetInTach .email span, .mainGetInTach .contentGetInTach .phone span {
  margin-right: 0.5rem;
}
.mainGetInTach .contentGetInTach .adress span i, .mainGetInTach .contentGetInTach .email span i, .mainGetInTach .contentGetInTach .phone span i {
  color: #E84C3D;
  font-size: 1.6rem;
}
.mainGetInTach .contentGetInTach .adress p, .mainGetInTach .contentGetInTach .email p, .mainGetInTach .contentGetInTach .phone p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  color: #81868E;
}

@media screen and (max-width: 768px) {
  .getInTouch {
    padding-bottom: 6vh;
  }
  .getInTouch .mainGetInTach {
    flex-direction: column;
    align-items: center;
  }
  .getInTouch .mainGetInTach form {
    width: 70%;
  }
  .getInTouch .mainGetInTach form button {
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    color: #FFFFFF;
    padding: 1rem 2rem;
    width: 100%;
  }
  .getInTouch .mainGetInTach .contentGetInTach {
    width: 70%;
    display: flex;
    margin-top: 5vh;
  }
  .getInTouch .mainGetInTach .contentGetInTach .adress, .getInTouch .mainGetInTach .contentGetInTach .email, .getInTouch .mainGetInTach .contentGetInTach .phone {
    font-size: 0.5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }
  .getInTouch .mainGetInTach .contentGetInTach .adress p, .getInTouch .mainGetInTach .contentGetInTach .email p, .getInTouch .mainGetInTach .contentGetInTach .phone p {
    text-align: center;
  }
}
footer {
  width: 100%;
  height: 10vh;
  background-color: #e84c3d;
}
footer p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
  color: #FFFFFF;
  line-height: 10vh;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}