@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap");
.img {
  width: 100%;
  height: 100vh;
  background-image: url("./../images/above.png"), url("./../images/under.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -10rem;
  display: flex;
  justify-content: center;
  text-align: center;
}
.img .text {
  text-transform: uppercase;
  margin-top: 22rem;
  position: relative;
}
.img .text h1 {
  font-size: 3.5rem;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #333b46;
}
.img .text p {
  font-size: 1.6rem;
  font-weight: 100;
  font-family: "Open Sans", sans-serif;
  color: #81868e;
}
.img .text .crollDown {
  position: absolute;
  bottom: 5.6rem;
  width: 100%;
}
.img .text .crollDown:hover {
  transform: scaleX(1.1) scaleY(1.1);
  cursor: pointer;
}
.img .text .crollDown p {
  text-transform: uppercase;
  color: #e84c3d;
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
}

.cards {
  display: flex;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: space-around;
}
.cards .card {
  display: flex;
  width: 48%;
  height: 23.8rem;
  border: 0.3rem solid rgba(215, 215, 215, 0.5);
  border-radius: 1rem;
  margin-bottom: 2%;
}
.cards .card:hover {
  cursor: pointer;
  border: 0.3rem solid #e84c3d;
  background-color: #e84c3d;
}
.cards .card:hover div.imgCircle {
  background-color: white;
}
.cards .card:hover i {
  color: #e84c3d !important;
}
.cards .card:hover .contentCards h3, .cards .card:hover .contentCards hr.hrCard, .cards .card:hover .contentCards p {
  color: #FFFFFF;
}
.cards .card:hover .contentCards hr.hrCard {
  background-color: #FFFFFF !important;
}
.cards .card .imgContainer {
  width: 30%;
  height: 100%;
}
.cards .card .imgContainer .imgCircle {
  background-color: #e84c3d;
  height: 10.9rem;
  width: 10.9rem;
  border-radius: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3rem;
  z-index: 2;
}
.cards .card .imgContainer .imgCircle i {
  font-size: 4rem;
  color: #FFFFFF;
}
.cards .card .contentCards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 3rem;
}
.cards .card .contentCards h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #81868E;
  margin-bottom: 2rem;
}
.cards .card .contentCards hr.hrCard {
  width: 3.7rem;
  height: 0.3vh;
  background-color: #d7d7d7;
  margin-bottom: 2rem;
  border: none;
}
.cards .card .contentCards p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  color: #81868E;
}

.about {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f3f3f3;
}
.about .content {
  width: 45%;
  margin: 10vh 0;
}
.about .content h2 {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 2vh;
  font-family: "Roboto", sans-serif;
}
.about .content hr {
  width: 5.2rem;
  height: 0.5vh;
  background-color: #898989;
  margin-bottom: 2.5vh;
}
.about .content p {
  margin-bottom: 2.5vh;
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
}
.about .content button {
  text-transform: uppercase;
  padding: 1.6rem 1.8rem 1.5rem 1.8rem;
  font-size: 1.3rem;
  border: none;
  background-color: #e84c3d;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  border-radius: 0.3rem;
}
.about .img {
  background-image: none;
  width: 45%;
  height: 30vh;
  margin: 10vh 0;
}

.mainWhatWeDo, .mainCircles, .mainFeatured, .ourBestService, .portfolio {
  background-color: #f3f3f3;
}
.mainWhatWeDo div.whatWeDo, .mainCircles div.whatWeDo, .mainFeatured div.whatWeDo, .ourBestService div.whatWeDo, .portfolio div.whatWeDo {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  padding-top: 10vh;
}
.mainWhatWeDo div.whatWeDo h2, .mainCircles div.whatWeDo h2, .mainFeatured div.whatWeDo h2, .ourBestService div.whatWeDo h2, .portfolio div.whatWeDo h2 {
  text-transform: uppercase;
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  color: #333B46;
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
}
.mainWhatWeDo div.whatWeDo hr, .mainCircles div.whatWeDo hr, .mainFeatured div.whatWeDo hr, .ourBestService div.whatWeDo hr, .portfolio div.whatWeDo hr {
  width: 5.2rem;
  height: 0.5vh;
  background-color: #898989;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}
.mainWhatWeDo div.whatWeDo p, .mainCircles div.whatWeDo p, .mainFeatured div.whatWeDo p, .ourBestService div.whatWeDo p, .portfolio div.whatWeDo p {
  color: #81868E;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  margin-bottom: 3rem;
}

.mainHeader {
  background-color: #e1e1e1;
  font-weight: 700;
  height: 100vh;
}
.mainHeader .nav {
  display: flex;
  justify-content: space-around;
}
.mainHeader .nav h1 {
  color: #e84c3d;
  font-size: 2.8rem;
  font-family: "Leckerli One", cursive;
  font-weight: 100;
}
.mainHeader .nav nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35%;
}
.mainHeader .nav nav ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
}
.mainHeader .nav nav ul li {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #333b46;
  font-weight: 200;
  font-family: "Open Sans", sans-serif;
}

.redBlock {
  display: flex;
  justify-content: center;
  background: url("./../../images/street.png");
  height: 40vh;
  position: relative;
}
.redBlock .coverColor {
  position: absolute;
  background-color: rgba(232, 76, 61, 0.7);
  width: 100%;
  height: 100%;
}
.redBlock__mainContainer {
  z-index: 1;
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
.redBlock__mainContainer .card__redBlock {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.redBlock__mainContainer .card__redBlock .imgNumber {
  margin-bottom: 2rem;
}
.redBlock__mainContainer .card__redBlock .imgNumber i {
  font-size: 4rem;
  color: #FFFFFF;
}
.redBlock__mainContainer .card__redBlock .imgNumber span {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
}
.redBlock__mainContainer .card__redBlock h4 {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 1.5rem;
  font-weight: 100;
}
.redBlock__mainContainer .card__redBlock hr {
  width: 3.7rem;
  height: 0.3vh;
  background-color: #FFFFFF;
  margin-bottom: 2rem;
  border: none;
}

.mainCircles {
  width: 100%;
  margin: 0 auto;
}
.mainCircles .circles {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 4rem;
}
.mainCircles .circles .boxCircle {
  background-image: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.mainCircles .circles .boxCircle .imgBox {
  width: 8.4rem;
  height: 8.4rem;
  background-color: #e6e6e6;
  border-radius: 50%;
  outline: 1px solid #cccccc;
  outline-offset: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mainCircles .circles .boxCircle .imgBox i {
  font-size: 3.5rem;
  color: #E84C3D;
}
.mainCircles .circles .boxCircle h3 {
  font-size: 1.6rem;
  color: #333B46;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  margin-top: 3rem;
}
.mainCircles .circles .boxCircle p {
  font-size: 1.4rem;
  color: #81868E;
  width: 80%;
  margin-top: 2rem;
}

.mainFeatured .imageGalery {
  display: flex;
}
.mainFeatured .imageGalery .imgFeatured {
  position: relative;
}
.mainFeatured .imageGalery .imgFeatured .hoverFeatured {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(232, 76, 61, 0.7);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.mainFeatured .imageGalery .imgFeatured .hoverFeatured button {
  text-transform: uppercase;
  width: 30%;
  padding: 1rem 2rem;
  border: 0.2rem solid #ebebeb;
  border-radius: 0.5rem;
  background-color: transparent;
  cursor: pointer;
  color: #ebebeb;
  font-family: "Roboto", sans-serif;
}
.mainFeatured .imageGalery .imgFeatured img {
  width: 100%;
}
.mainFeatured .imageGalery .imgFeatured:hover .hoverFeatured {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.serviceSection .row {
  display: flex;
}
.serviceSection .row .imgWork img {
  height: 100%;
}
.serviceSection .row .contentWork {
  background-color: #e84c3d;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.serviceSection .row .contentWork__main {
  margin: 0 auto;
  width: 70%;
}
.serviceSection .row .contentWork__main h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #ffffff;
  text-transform: uppercase;
}
.serviceSection .row .contentWork__main hr {
  margin: 2rem 0;
  width: 4.2rem;
  height: 0.3vh;
  background-color: #ffffff;
  border: none;
}
.serviceSection .row .contentWork__main p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  color: #FFFFFF;
}
.serviceSection .row:nth-child(odd) {
  flex-direction: row-reverse;
}

.createMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("./../../images/cta.png");
  padding: 3rem 0;
}
.createMain .contentCreate {
  width: 80%;
  margin: 3rem auto;
  text-align: center;
}
.createMain .contentCreate h2 {
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-weight: 100;
  margin-bottom: "";
}
.createMain .contentCreate p {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-weight: 100;
  margin-bottom: 2rem;
}
.createMain .contentCreate button {
  background-color: #e84c3d;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: #FFFFFF;
  font-weight: 100;
  margin-bottom: "";
}

.categories {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40%;
  margin: 0 auto;
}
.categories .content {
  display: flex;
  justify-content: space-between;
}
.categories .content p, .categories .content span {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #383737;
}
.categories hr {
  margin: 2rem 0;
  width: 4.2rem;
  height: 0.5vh;
  background-color: #898989;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}