@use './../mixins';
@use './../variables';


.waitDivMain{
    position: absolute;
    z-index: 100;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(#793319, .8);
    .waitDiv{  
        height: 100%;
        width: 100%;
        text-align: center;
        position: relative;
        .content{
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);
            i{
                font-size: 30rem;
                animation-name: changewidth;
                animation-iteration-count: infinite;
                animation-duration: 1s;
                color: #e1a03a;
            }
            p{
                @include mixins.setTextPara(variables.$fira,4rem, #f0c175);
                width: 100%;
            }
        }
    
    }
}

@keyframes changewidth {
    from {
        transform: rotate(0deg);
    }
  
    to {
        transform: rotate(360deg);
    }
  }

.pageUpButton{
    position: fixed;
    bottom: -3.5rem;
    right: 2.5rem;
    height: 4rem;
    width: 4rem;
    background-color: #BF431F;
    text-align: center;
    line-height: 4rem;
    color: #E3CFAB;
    cursor: pointer;
    opacity: 0;
    transition: all .5s ease;
}

.primaryHeader{
    background-color: rgb(68,50,44);
    
    .row{
    .mainContent{
        width: 80%;
        margin: 0 auto;
     
        .workTime, .cart{
            text-transform: uppercase;
            margin: 0 1.5em;
            line-height: 100%;
            display: flex;
            align-items: center;
            @include mixins.setTextPara(variables.$fira, 1.2rem, #e1a03a);
           
        }
        .cart{
            text-transform: none;
            color: #E3CFAB;
            position: relative;
            cursor: pointer;
            span{
                @include mixins.setTextPara(variables.$fira, 1.2rem, #E3CFAB);
                margin: 0 .4rem;
            }
            .spanTextCart{
                font-weight: bold;
            }

            .cartListMain{
                position: absolute;
                top: 4.5rem;
                left: -30%;
                list-style-type: none;
                background-color: #F4E8CE;
                z-index: 100;
                width: 180%;
                padding: 0rem 2rem;
                border-radius: 1rem;
                li{
                    border-bottom: solid .1rem #bf431f;
                    .listCart{
                        text-align: center;
                        margin: 1rem 0;
                        .nameList{
                            h4{
                                @include mixins.setTextPara(variables.$fira, 1.8rem, #bf431f);
                                
                            }
                            p{
                                @include mixins.setTextPara(variables.$fira, 1.4rem, #bf431f);
                                span{
                                @include mixins.setTextPara(variables.$fira, 1.4rem, #bf431f);

                                }
                            }
                        }
                        .contentList{
                            button{
                                border: none;
                                outline: none;
                                background-color: #D57F2C;
                                padding: 1rem 1rem;
                                @include mixins.setTextPara(variables.$fira, 1.4rem, #E3CFAB);
                                font-weight: bolder;

                            }
                        }
                    }
                }
            }
        }
        .social{
            font-size: 1.2rem;
            color: #e1a03a;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0.85em 1.4em;
           
            
            .mainSocial{
                width: 100%;
                display: flex;
                justify-content: space-between;
                line-height: 4rem;
               
                .aweosmeIcon{
                    line-height: 4rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    background-color: #30211B;
                    align-items: center;
                    border-radius: 50%;
                    margin-left: .5rem;

                    &:hover{
                        background-color: #e1a03a;
                        cursor: pointer;
                    }
                    &:hover i{
                        color: #30211B;
                    }
                    i{
                        font-size: .9rem;
                    }
    
                }
            }

          
        }
    }
    }
}

.middleHeader{
    background-color: #BF431F;
    height: 8.25rem;
    position: sticky;
    top: -1px;
    z-index: 1;
    
    .row{
        
        .mainContainMidlleHeader{
            width: 80%;
            margin: 0 auto;
            .birraLogo{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            nav{
               
                width: 67rem;
                ul.mainUl{
                    list-style-type: none;
                    display: flex;
                    justify-content: space-around;
                    padding: none;
                    

                    li.mainLi{
                        
                        width: 100%;
                        height: 100%;
                        height: 8.25rem;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-transform: uppercase;
                        font-size: 1.5rem;
                        font-weight: 500;
                        color: #F1E8CE;
                        padding: 0 1.5rem;
                        position: relative;
                        &:hover{
                            
                            background-color: #793319;
                            cursor: pointer;
                            color: #e1a03a;
                        }
                        &:hover ul.sub{
                            
                            display: flex;
                            flex-direction: column;
                            opacity: 1;
                            top: 83px;
                            transition: all .5s ease;
                            pointer-events: auto;
                            li{
                                pointer-events: auto;
                            }
                        }
                        ul{
                            
                            background-color: #793319;
                            position: absolute;
                            width: 25rem;
                            top: 163px;
                            opacity: 0;
                            left: 0px;
                            pointer-events: none;
                            
                            
                            
                            li.subLi{
                              
                                list-style-type: none;
                                height: auto;
                                text-align: left;
                                @include mixins.setTextPara(variables.$fira, 1.3rem, #F1E8CE);
                                font-weight: 800;
                                position: relative;
                                pointer-events: none;
                                
                                &:hover{
                                    background-color: #793319;
                                    cursor: pointer;
                                    color: #e1a03a;
                                }

                                &:hover .subSub{
                                    opacity: 1;
                                    pointer-events: auto;
                                   
                                }
                                
                                .subSub{
                                    position: absolute;
                                    top: 0;
                                    left:-112%;
                                    opacity: 0;
                                    pointer-events: none;
                                    
                                    
                                }



                            }
                        }
                       
                    }
                    
                }
            }
        }
    }
}

.bottomHeader{
    height: 7.0rem;
    background-color: #E3CFAB;
    .mainContainBottomHeader{
        width: 80%;
        margin: 0 auto;
        height: 7.0rem;
        .shop{
           display: flex;
           flex-direction: column;
           justify-content: center;

            h2{
                text-transform: uppercase;
                @include mixins.setTextPara(variables.$alegria, 2.4rem, #d57f2c);
            }
        }
        .localNavigation{
            text-align: end;
            text-transform: uppercase;
            @include mixins.setTextPara(variables.$fira, 1.5rem, #44322C);
            font-weight: 800;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &:hover{
                color: #BF431F;
                cursor: pointer;
            }
        }
    }
}

#myFirstModal{
    z-index: 999999;
}