.primaryHeader{
    background-color: rgb(68,50,44);
    height: 4rem;
    .row{
    .mainContent{
        width: 90%;
        margin: 0 auto;
        .workTime{
            text-transform: uppercase;
            font-size: 1.2rem;
            color: #e1a03a;
            line-height: 4rem;
           
        }
        .social{
            font-size: 1.2rem;
            color: #e1a03a;
            line-height: 4rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0.85em 1.4em;
            .mainSocial{

                line-height: 4rem;
                .aweosmeIcon{
                    line-height: 4rem;
                    width: 2.2rem;
                    height: 2.4rem;
                    background-color: #30211B;
                    align-items: center;
    
                }
            }

          
        }
    }
    }
}

.prba{
    color: red;
}