@use './../mixins';
@use './../variables';

.pageUpButton{
    position: fixed;
    bottom: 2.5rem;
    right: 2.5rem;
    height: 4rem;
    width: 4rem;
    background-color: #BF431F;
    text-align: center;
    line-height: 4rem;
    color: #E3CFAB;
}

.primaryHeader{
    background-color: rgb(68,50,44);
    
    .row{
    .mainContent{
        width: 80%;
        margin: 0 auto;
     
        .workTime, .cart{
            text-transform: uppercase;
            margin: 0 1.5em;
            line-height: 100%;
            display: flex;
            align-items: center;
            @include mixins.setTextPara(variables.$fira, 1.2rem, #e1a03a);
           
        }
        .cart{
            color: #E3CFAB;
            cursor: pointer;
        }
        .social{
            font-size: 1.2rem;
            color: #e1a03a;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0.85em 1.4em;
           
            
            .mainSocial{
                width: 100%;
                display: flex;
                justify-content: space-between;
                line-height: 4rem;
               
                .aweosmeIcon{
                    line-height: 4rem;
                    width: 2.4rem;
                    height: 2.4rem;
                    background-color: #30211B;
                    align-items: center;
                    border-radius: 50%;
                    margin-left: .5rem;

                    &:hover{
                        background-color: #e1a03a;
                        cursor: pointer;
                    }
                    &:hover i{
                        color: #30211B;
                    }
                    i{
                        font-size: .9rem;
                    }
    
                }
            }

          
        }
    }
    }
}

.middleHeader{
    background-color: #BF431F;
    height: 8.25rem;
    position: sticky;
    top: -1px;
    z-index: 1;
    
    .row{
        
        .mainContainMidlleHeader{
            width: 80%;
            margin: 0 auto;
            .birraLogo{
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            nav{
               
                width: 67rem;
                ul.mainUl{
                    list-style-type: none;
                    display: flex;
                    justify-content: space-around;
                    padding: none;
                    

                    li.mainLi{
                        
                        width: 100%;
                        height: 100%;
                        height: 8.25rem;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        text-transform: uppercase;
                        font-size: 1.5rem;
                        font-weight: 500;
                        color: #F1E8CE;
                        padding: 0 1.5rem;
                        position: relative;
                        &:hover{
                            
                            background-color: #793319;
                            cursor: pointer;
                            color: #e1a03a;
                        }
                        &:hover ul.sub{
                            
                            display: flex;
                            flex-direction: column;
                            opacity: 1;
                            top: 83px;
                            transition: all .5s ease;
                            pointer-events: auto;
                            li{
                                pointer-events: auto;
                            }
                        }
                        ul{
                            
                            background-color: #793319;
                            position: absolute;
                            width: 25rem;
                            top: 163px;
                            opacity: 0;
                            left: 0px;
                            pointer-events: none;
                            
                            
                            
                            li.subLi{
                              
                                list-style-type: none;
                                height: auto;
                                text-align: left;
                                @include mixins.setTextPara(variables.$fira, 1.3rem, #F1E8CE);
                                font-weight: 800;
                                position: relative;
                                pointer-events: none;
                                
                                &:hover{
                                    background-color: #793319;
                                    cursor: pointer;
                                    color: #e1a03a;
                                }

                                &:hover .subSub{
                                    opacity: 1;
                                    pointer-events: auto;
                                   
                                }
                                
                                .subSub{
                                    position: absolute;
                                    top: 0;
                                    left:-112%;
                                    opacity: 0;
                                    pointer-events: none;
                                    
                                    
                                }



                            }
                        }
                       
                    }
                    
                }
            }
        }
    }
}

.bottomHeader{
    height: 7.0rem;
    background-color: #E3CFAB;
    .mainContainBottomHeader{
        width: 80%;
        margin: 0 auto;
        height: 7.0rem;
        .shop{
           display: flex;
           flex-direction: column;
           justify-content: center;

            h2{
                text-transform: uppercase;
                @include mixins.setTextPara(variables.$alegria, 2.4rem, #d57f2c);
            }
        }
        .localNavigation{
            text-align: end;
            text-transform: uppercase;
            @include mixins.setTextPara(variables.$fira, 1.5rem, #44322C);
            font-weight: 800;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &:hover{
                color: #BF431F;
                cursor: pointer;
            }
        }
    }
}

#myFirstModal{
    z-index: 999999;
}